*{
	margin:0px;
	padding:0px;
}
body{
}
#outer{
	font-family:Calibri;
	height:auto;
}
#header{
	height:80px;
	width:auto;
	background:#009688;
}
#title1{
	height:80px;
	width:300px;
	float:left;
	padding-left:20px;
	font-family:'Agency FB';
	font-weight:bold;
}
#menu{
	margin-top:37px;
	height:40px;
	float:right;
	width:685px;
	background:#333;
	border-radius:7px 0px 0px 5px;
	border-bottom:3px solid #000;
}
.menubox{
	height:30px;
	font-size:18px;
	padding-top:10px;
	width:auto;
	padding-right:50px;
	padding-left:50px;
	float:right;
	background:#fff;
	font-weight:bold;
	color:#000;
}
.menubox:hover{
	background-color:#009688;
	color:#fff;
	border-bottom:3px solid #fff;
}
#menu a{
	color:#009688;
}
#content{
	height:480px;
	width:auto;
	background:#333;
	margin:0px auto;
	background-image:url('b2.jpg');
  background-size: cover;
	padding-top:100px;
	
}
#profile{
	padding-top:15px;
	height:300px;
	width:800px;
	margin:0px auto;
	background: rgba(255, 255, 255, 0.5);
	border-radius:5px;
	font-family:monotype corsiva;
	font-size:20px;
}
#pic{
	margin:20px auto;
	margin-bottom:10px;
	height:150px;
	width:120px;
	border:5px double #009688;
	
}

#footer
{
	height:30px;
	width:auto;
	padding-top:10px;
	background:#222;
	font-size:18px;
	color:#fff;
	font-family:calibri;
}
#footer a{
	text-decoration:none;
	color:#ffffff;
	
}
#left1
{
	height:30px;
	width:400px;
	float:left;
	padding-left:20px;
}
#right1
{
	height:30px;
	width:580px;
	float:right;
	text-align:right;
	padding-right:20px;
	
}
/*--------------------------TITLE STYLE------------------------*/
#sp1{
	font-size:35px;
	color:#fff;
	text-shadow:5px 2px 2px black;
}
#sp2{
	font-size:55px;
	color:orange;
	text-shadow:5px 2px 2px black;
}
#sp3{
	font-size:35px;
	color:#fff;
	text-shadow:5px 2px 2px black;
}
#sp4{
	font-size:14px;
	color:#000;
}